* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.footer {
  float: none;
  margin: 0 auto;
}

header, nav, section, aside, footer{
  background: #ebebeb;
  color: #777;
  text-align: center;
  margin: 15px;
  padding: 50px;
}

section, aside {
  padding: 25px;
  width: 495px;
  height: 250px;
}

section {
  float: left;
}
aside {
  float: right;
  width: 405px;
  height: 250px;
}

article {
  color: #ebebeb;
  background: #777;
  height: 165px;
  padding-top: 20px;
  margin: 10px 0;
}

body {

  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  width: 960px;
  background: #777;
  font-size: 18px;
}

h5, p {
  color: #777;
  background: #ebebeb;
  padding: 10px;
  margin: 10px 10px 5px 10px;
}
p {

}
footer {
  float: none;
}

